<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
   
    <link rel="icon" type="image/x-icon" href="/img/vote.png">
    <title>Edit question</title>
    <script>
        //update a question function
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function updateAQuestion() {
            let electionID = <%= electionID %>;
            let questionID = <%= questionID %>;
            let question = document.getElementById("questionName").value;
            let description = document.getElementById("description").value;
            fetch(`/questions/${questionID}/edit`, {
                method: "put",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    "_csrf":token,
                    "questionName":question,
                    "description":description
                })
            }).then((res1)=>{
                if (res1.ok) {
                    window.location.replace(`/elections/${electionID}/questions`);
                }
            }).catch((err31)=> console.error(err31))
        }
    </script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');  

body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
   
    font-family: 'PT Sans', sans-serif;
}

@keyframes bg-change {
    0% { background-color: black; }
    50% { background-color: grey; }
    100% {  background-color: rgb(210, 207, 207);}
}

.header{
    margin-top: 2rem;
    border: 3px solid white;
    padding: 1rem;
    background-color: rgb(105, 150, 255);
    border-radius: 10px;
    width:95vw;
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-size: 2rem;
    
}

@keyframes back-change {
    0% { background-color: yellow; }
    50% { background-color: antiquewhite; }
    100% {  background-color: rgb(250, 166, 208);}
    
}


  
  @keyframes color-change {
    0% { color: green; }
    50% { color: blue;; }
    100% { color: brown; }
  }



.header a{
    text-decoration: none;
    color: rgb(43, 52, 226);
    
}
.btn{
    text-decoration: none;
    color: white;
    padding: 1rem;
    border: 3px solid white;
    border-radius: 9px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
}

.mt{
    margin-top: 4rem;
}


.pushable {
    background: rgb(0, 92, 163);
    border: none;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: rgb(0, 132, 240);
    color: white;
    transform: translateY(-4px);
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }
  input,textarea{
    padding: 1rem;
    border-radius: 1rem;
    border: 3px solid blue;
  }
          </style>
</head>
<body>
    <%- include('header.ejs') %>
   
    <div style="display: flex; width: 50%;justify-content: space-around;margin-bottom: 1rem;">
      
        <a class="front pushable" href="/elections" >All Elections</a>

        <a class="front pushable" href="/elections/<%= electionID %>/">Election</a>
     
        <a class="front pushable" href="/elections/<%= electionID %>/questions" >Questions</a>
    </div>
    <div >
        <div>
            <h2 >Edit question</h2>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p ><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <div> 
                <div style="display: flex;flex-direction: column;" >
      
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <h3><label for="questionName" >Question</label></h3>
                    <input value="<%= questionName %>" id="questionName" name="questionName" type="text" placeholder="Question"  required>
                    <h3><label for="description" >Description</label></h3>
                    <textarea id="description" name="description"  placeholder="Question Description" rows="8" cols="20"><%= description %></textarea>
                    <button class="pushable front" style="margin-top:1rem" id="round"  onclick="updateAQuestion()">Update question</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>