<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    
    <title>Edit option page</title>
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');  

body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
    animation: bg-change 5s infinite;
    font-family: 'PT Sans', sans-serif;
}

@keyframes bg-change {
    0% { background-color: black; }
    50% { background-color: grey; }
    100% {  background-color: rgb(210, 207, 207);}
}

.header{
    margin-top: 2rem;
    border: 3px solid white;
    padding: 1rem;
    background-color: hotpink;
    border-radius: 10px;
    width:95vw;
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-size: 2rem;
    animation: back-change 2s infinite;
}

@keyframes back-change {
    0% { background-color: yellow; }
    50% { background-color: antiquewhite; }
    100% {  background-color: rgb(250, 166, 208);}
    
}


  
  @keyframes color-change {
    0% { color: green; }
    50% { color: blue;; }
    100% { color: brown; }
  }



.header a{
    text-decoration: none;
    color: blueviolet;
    animation: color-change 2s infinite;
}
.btn{
    text-decoration: none;
    color: white;
    padding: 1rem;
    border: 3px solid white;
    border-radius: 9px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
}

.mt{
    margin-top: 4rem;
}


.pushable {
    background: hsl(340deg 100% 32%);
    border: none;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-4px);
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }
    </style>
    <script>            
        //function for updating the option
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function updateOption() {
            let electionID = <%= electionID %>;
            let questionID = <%= questionID %>;
            let optionID = <%= optionID %>;
            let option = document.getElementById("option").value;
            fetch(`/options/${optionID}/edit`, {
                method: "put",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    "_csrf":token,
                    "option":option,
                })
            }).then((res1)=>{
                if (res1.ok) {
                    window.location.replace(`/elections/${electionID}/questions/${questionID}`);
                }
            }).catch((err1)=> console.error(err1))
        }
    </script>
        
</head>
<body  style="height: 100vh;">
    <div >
        <div >
            
            <h1>Update this Option</h1>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p ><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
        
            <div>
            
                <div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    
                    <input style="padding: 1rem;border: 3px solid blue;border-radius: 1rem;" value="<%= option %>" id="option" name="option" type="text" placeholder="Option"  required>
                    <button class="front pushable" style="margin-top: 1rem;" id="round"  onclick="updateOption() ">Update option</button>
                </div>
            </div>
       
        </div>
    </div>
</body>
</html>