<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= title %></title>
    
   
    <style>
         @import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');  

body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
    
    font-family: 'PT Sans', sans-serif;
}

@keyframes bg-change {
    0% { background-color: black; }
    50% { background-color: grey; }
    100% {  background-color: rgb(210, 207, 207);}
}

.header{
    margin-top: 2rem;
    border: 3px solid white;
    padding: 1rem;
    background-color: rgb(105, 173, 255);
    border-radius: 10px;
    width:95vw;
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-size: 2rem;
    

@keyframes back-change {
    0% { background-color: yellow; }
    50% { background-color: antiquewhite; }
    100% {  background-color: rgb(250, 166, 208);}
    
}


  
  @keyframes color-change {
    0% { color: green; }
    50% { color: blue;; }
    100% { color: brown; }
  }



.header a{
    text-decoration: none;
    color: blueviolet;
}
}
.btn{
    text-decoration: none;
    color: white;
    padding: 1rem;
    border: 3px solid white;
    border-radius: 9px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
}

.mt{
    margin-top: 4rem;
}


.pushable {
    background: rgb(0, 30, 163);
    border: none;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: rgb(0, 84, 240);
    color: white;
    transform: translateY(-4px);
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

      </style>
</head>
<body >
    <%- include('header.ejs') %>
    <div >
    <% if (messages && messages.error && messages.error.length > 0) { %>
        <% for(var i=0; i<messages.error.length; i++) { %>
            <p ><%= messages.error[i] %></p>
        <% } %>
    <% } %>
    </div>
 
    <div >
  
        <a style="text-decoration: none;" class="pushable front" href="/elections" >Go Back</a>
       
    </div>
    <div class="main" style="background-color: white;color: black;padding: 2rem;margin-top: 1rem;border-radius: 1rem;border: 5px solid green;">
        <h1 ><%= title %></h1>
        
        <% if (launch) { %>
            <div >
                <h4 >Your election has been launched!!!</h4>
                <h4>URL :</h4>
                <a href="/e/<%= url %>/">Click Here!!!</a>
                
            </div>
        <% } %>
       
        <div class="mt-4">
            <h3 >Number of questions in the ballot are : <span> <%= nq %> </span></h3>
            <% if (!launch) { %>
                <a class="front pushable" style="text-decoration: none;text-align: center;" href="/elections/<%= id %>/questions" >Manage Questions</a>
            <% } %>
        </div>
        <!-- shows number of registered voters -->
        <div class="mb-8 bt-4">
            <h3>Number of registered voters for the election : <span > <%= nv %> </span></h3>
            <a class="front pushable" style="text-decoration: none;text-align: center;" href="/elections/<%= id %>/voters" >Manage Voters</a>
        </div>
        <!-- preview and lauch the election -->
        <% if (!launch) { %>
            <div >
                <a class="front pushable" style="text-decoration: none;text-align: center;margin-top: 1rem;" href="/elections/<%= id %>/preview">Preview & Launch election from here</a>
            </div>
        <% } %>
        <!-- if electionis launched preview results and end the elections -->
        <% if (launch) { %>
            
            <div >
                <div >
                    
                    <a href="">Preview results from here</a>
                </div>
                <br>
                <div >
                    <a href="" >End Election</a>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>